.container{
    width: 1900px;
    height: 1000px;
    border: 2px solid black;
    background-color: lightskyblue;

}

.circle {
    position: absolute;
    top: 55%;
    right: 50%;
    width: 250px;
    height: 250px;
    background-color:whitesmoke;
    border-radius: 50%;

}

.circle2{
    position: relative;
    bottom: 77%;
    left: 10%;
    width: 200px;
    height: 200px;
    background-color: whitesmoke;
    border-radius: 50%;
}

.circle3{
    position: relative;
    bottom: 75%;
    left: 10%;
    width: 150px;
    height: 150px;
    background-color: whitesmoke;
    border-radius: 50%;
}

.eye{
    position: relative;
    top: 40%;
    left: 20%;
    width: 15px;
    height: 15px;
    background-color: black;
    border-radius: 50%;
}

.eye2{
    position: absolute;
    bottom: 10%;
    left: 500%;
    width: 15px;
    height: 15px;
    background-color: black;
    border-radius: 50%;
}

.triangle{
    position: relative;
    right: 300%;
    width:  0;
    height: 0;
    border: solid 15px;
    border-color: transparent transparent orange;
}

.hat{
    
}